<a href="https://colab.research.google.com/github/Andipascale7/Python-/blob/Intro/D1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = 'Dipo Adiyi'

print(name)

Dipo Adeniyi

In [ ]:
print ('My Name is Dipo, welcome to BDA')

My Name is Dipo, welcome to BDA

In [ ]:
your_name = input('Please enter your name')

Please enter your nameAndi

In [ ]:
Country = input('Where is your Country?   ')

Where is your Country?

In [ ]:
name_country = your_name + ' ' + Country
print(name_country)

Andi

In [ ]:
print (name_country)

Andi

In [ ]:
print (78+90)

168

In [ ]:
age = input ('Please enter your age ')

Please enter your age 25

In [ ]:
print(34 + age)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
age = int(input('Please enter your age '))

Please enter your age 21

In [ ]:
new_age= input('How old are you?')
year_study= input('How long have you been studying')

How old are you?25
How long have you been studying4

In [ ]:
print(name, age)

Dipo Adeniyi 21

In [ ]:
print(f'My name is {name} I am a BDA tutor at Imeta Training and I am {age} year old')

My name is Dipo Adeniyi I am a BDA tutor at Imeta Training and I am 21 year old

In [ ]:
num = len('Welcome to Ibiza')
print(num)

16

In [ ]:
result = 5+73
print(result)

78

In [ ]:
print(17/3)

5.666666666666667

In [ ]:
print(17//3)

5

In [ ]:
#modulus operations
print(17%3)

2

In [ ]:
#exponantion
print(2 ** 4)

16

In [ ]:
#absolute value
print(abs(4-9))

5

In [ ]:
print(round(3.7))

4

End of Day 1

**Start of Day 2**

In [ ]:
age=67

In [ ]:
print (Age) #case sensitive

NameError: name 'Age' is not defined

In [ ]:
print('Age')

Age

In [ ]:
print (age)

67

In [ ]:
s= 'Hello World!'

In [ ]:
print(s[0])

H

In [ ]:
s[1:5]

'ello'

In [ ]:
#NEGATIVE INDEXING
print(s[-1])

d

In [ ]:
# slicing
print(s[-5:-2])

Wor

In [ ]:
print(s[::-1])

dlroW olleH

In [ ]:
print(s[:])

Hello World

In [ ]:
print(s[::])

Hello World!

In [ ]:
print(s[::1])

Hello World!

In [ ]:
print(s[::2])

HloWrd

In [ ]:
print(s[::3])

HlWl

In [ ]:
import random as rn
num1 = [1,2,3,4,5,6,7,8,9,10]
num2 = [11,12,13,4,5,6,7,8,9,10]

In [ ]:
print(rn.randint(1,10))

10

In [ ]:
#multiply 2 numbers
import random as rn
num1 = rn.randint(0, 10)
num2 = rn.randint(5, 10)
print(num1, num2)
ques = int(input(f'What is {num1} x {num2}'))
#check user answer against the correct answer
if ques == num1*num2:
  print('Correct')
else:
  print('Incorrect')

9 7

In [ ]:
#substraction
import random as rn
num2 = rn.randint(0, 10)
num3 = rn.randint(5, 10)
print(num2, num3)
ques1 = int(input(f'What is {num2} - {num3}'))
#check user answer against the correct answer
if ques1 == num2-num3:
  print('Correct')
else:
  print('Incorrect')

0 5
What is 0 - 5  -5
Correct

In [ ]:
proname = 'laptop'
proname.capitalize()

'Laptop'

In [ ]:
#Scenario:​You want to compare two strings without considering case sensitivity: "Hello" and "hello"
str1 ='Hello'
str2 = 'hello'
str1.casefold() == str2.casefold()

True

Day 3 Python

In [ ]:
string_list =['apple','banana','cherry']
num_list =[24,-45,0,24]

In [ ]:
len(string_list)

3

In [ ]:
st_num=len(string_list)

In [ ]:
string_list.append('orange')

In [ ]:
print(string_list)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
string_list.insert(0,'Pinapple')

In [ ]:
print(string_list)

['Pinapple', 'apple', 'banana', 'cherry', 'orange']

In [ ]:
if 'banana' in string_list:
  print('Yes, it is present')
  print('The banana is yellow')
else:
  print('No, it is not present')

Yes, it is present
The banana is yellow

In [ ]:
string_list.extend(num_list)
print(string_list)

['Pinapple', 'apple', 'banana', 'cherry', 'orange', 24, -45, 0, 24]

Python lists

In [ ]:
import csv

loss_items = []

with open('/content/drive/MyDrive/Python/sales_datacl.csv') as f:
    reader = csv.reader(f)
    next(reader)  # skip header row

    for count, row in enumerate(reader, start=1):
        try:
            # Unpack row
            item, c, s, q = row
            # Convert to numbers
            c, s, q = float(c), float(s), int(q)
        except ValueError:
            print(f"Skipping row with invalid data: {row}")
            continue

        # Calculate revenue and cost
        revenue = s * q
        cost = c * q

        if revenue < cost:
            loss_items.append([item, c, s, q, cost - revenue])

        # Only process first 5 rows (optional)
        if count == 5:
            break

print(loss_items)

from tabulate import tabulate

# Define headers
headers = ["Item", "Cost", "Selling Price", "Quantity", "Loss"]

print(tabulate(loss_items, headers=headers, tablefmt="grid"))

[['Cheese', 20.0, 17.0, 110, 330.0], ['Juice', 15.0, 13.0, 139, 278.0], ['Beef', 11.0, 6.0, 197, 985.0]]
+--------+--------+-----------------+------------+--------+
| Item   |   Cost |   Selling Price |   Quantity |   Loss |
+========+========+=================+============+========+
| Cheese |     20 |              17 |        110 |    330 |
+--------+--------+-----------------+------------+--------+
| Juice  |     15 |              13 |        139 |    278 |
+--------+--------+-----------------+------------+--------+
| Beef   |     11 |               6 |        197 |    985 |
+--------+--------+-----------------+------------+--------+

Day 4: Monday 8th of September

In [7]:
lst = ['apple', 'banana', 'cherry']

In [8]:
if 'cherry' in lst:
  print('Yes, it is present')
  print('The cherry is red')
else:
  print('No, it is not present')

Yes, it is present
The cherry is red

In [9]:
loss_items = []

In [21]:
import csv
loss_item = []
with open ('/content/drive/MyDrive/Python/sales_datacl.csv') as f:
  reader = csv. reader(f)
  count = 0
  for row in reader:
    print(row)
    count +=1
    if count == 5 :
     break

    #convert items to number
    for item, c, s, q in reader:
      c, s, q = float(c), float(s), int(q)

      #Calculate Revenueand Cost
    revenue = s * q
    cost = c * q


  #Check for loss items
    if revenue < cost:
     loss_item.append([item, c, s, q, cost - revenue])

['ItemName', 'CostPrice', 'SellingPrice', 'Quantity']

Python Sets
- set is created by using curly brackets

In [31]:
myset = {'apple', 'orange', 'cherry'}

In [32]:
len(myset)

3

In [34]:
print (len(myset))

3

In [35]:
for item in myset:
  print(item)

cherry
orange
apple

In [36]:
myset.add('banana')

In [37]:
myset

{'apple', 'banana', 'cherry', 'orange'}

In [38]:
myset.add('papaya')

In [39]:
myset

{'apple', 'banana', 'cherry', 'orange', 'papaya'}