<a href="https://colab.research.google.com/github/Andipascale7/Python-/blob/Intro/D1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = 'Dipo Adiyi'

print(name)

Dipo Adeniyi

In [ ]:
print ('My Name is Dipo, welcome to BDA')

My Name is Dipo, welcome to BDA

In [ ]:
your_name = input('Please enter your name')

Please enter your nameAndi

In [ ]:
Country = input('Where is your Country?   ')

Where is your Country?

In [ ]:
name_country = your_name + ' ' + Country
print(name_country)

Andi

In [ ]:
print (name_country)

Andi

In [ ]:
print (78+90)

168

In [ ]:
age = input ('Please enter your age ')

Please enter your age 25

In [ ]:
print(34 + age)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
age = int(input('Please enter your age '))

Please enter your age 21

In [ ]:
new_age= input('How old are you?')
year_study= input('How long have you been studying')

How old are you?25
How long have you been studying4

In [ ]:
print(name, age)

Dipo Adeniyi 21

In [ ]:
print(f'My name is {name} I am a BDA tutor at Imeta Training and I am {age} year old')

My name is Dipo Adeniyi I am a BDA tutor at Imeta Training and I am 21 year old

In [ ]:
num = len('Welcome to Ibiza')
print(num)

16

In [ ]:
result = 5+73
print(result)

78

In [ ]:
print(17/3)

5.666666666666667

In [ ]:
print(17//3)

5

In [ ]:
#modulus operations
print(17%3)

2

In [ ]:
#exponantion
print(2 ** 4)

16

In [ ]:
#absolute value
print(abs(4-9))

5

In [ ]:
print(round(3.7))

4

End of Day 1

**Start of Day 2**

In [ ]:
age=67

In [ ]:
print (Age) #case sensitive

NameError: name 'Age' is not defined

In [ ]:
print('Age')

Age

In [ ]:
print (age)

67

In [ ]:
s= 'Hello World!'

In [ ]:
print(s[0])

H

In [ ]:
s[1:5]

'ello'

In [ ]:
#NEGATIVE INDEXING
print(s[-1])

d

In [ ]:
# slicing
print(s[-5:-2])

Wor

In [ ]:
print(s[::-1])

dlroW olleH

In [ ]:
print(s[:])

Hello World

In [ ]:
print(s[::])

Hello World!

In [ ]:
print(s[::1])

Hello World!

In [ ]:
print(s[::2])

HloWrd

In [ ]:
print(s[::3])

HlWl

In [ ]:
import random as rn
num1 = [1,2,3,4,5,6,7,8,9,10]
num2 = [11,12,13,4,5,6,7,8,9,10]

In [ ]:
print(rn.randint(1,10))

10

In [ ]:
#multiply 2 numbers
import random as rn
num1 = rn.randint(0, 10)
num2 = rn.randint(5, 10)
print(num1, num2)
ques = int(input(f'What is {num1} x {num2}'))
#check user answer against the correct answer
if ques == num1*num2:
  print('Correct')
else:
  print('Incorrect')

9 7

In [ ]:
#substraction
import random as rn
num2 = rn.randint(0, 10)
num3 = rn.randint(5, 10)
print(num2, num3)
ques1 = int(input(f'What is {num2} - {num3}'))
#check user answer against the correct answer
if ques1 == num2-num3:
  print('Correct')
else:
  print('Incorrect')

0 5
What is 0 - 5  -5
Correct

In [ ]:
proname = 'laptop'
proname.capitalize()

'Laptop'

In [ ]:
#Scenario:​You want to compare two strings without considering case sensitivity: "Hello" and "hello"
str1 ='Hello'
str2 = 'hello'
str1.casefold() == str2.casefold()

True

Day 3 Python

In [ ]:
string_list =['apple','banana','cherry']
num_list =[24,-45,0,24]

In [ ]:
len(string_list)

3

In [ ]:
st_num=len(string_list)

In [ ]:
string_list.append('orange')

In [ ]:
print(string_list)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
string_list.insert(0,'Pinapple')

In [ ]:
print(string_list)

['Pinapple', 'apple', 'banana', 'cherry', 'orange']

In [ ]:
if 'banana' in string_list:
  print('Yes, it is present')
  print('The banana is yellow')
else:
  print('No, it is not present')

Yes, it is present
The banana is yellow

In [ ]:
string_list.extend(num_list)
print(string_list)

['Pinapple', 'apple', 'banana', 'cherry', 'orange', 24, -45, 0, 24]

Python lists

In [ ]:
import csv

loss_items = []

with open('/content/drive/MyDrive/Python/sales_datacl.csv') as f:
    reader = csv.reader(f)
    next(reader)  # skip header row

    for count, row in enumerate(reader, start=1):
        try:
            # Unpack row
            item, c, s, q = row
            # Convert to numbers
            c, s, q = float(c), float(s), int(q)
        except ValueError:
            print(f"Skipping row with invalid data: {row}")
            continue

        # Calculate revenue and cost
        revenue = s * q
        cost = c * q

        if revenue < cost:
            loss_items.append([item, c, s, q, cost - revenue])

        # Only process first 5 rows (optional)
        if count == 5:
            break

print(loss_items)

from tabulate import tabulate

# Define headers
headers = ["Item", "Cost", "Selling Price", "Quantity", "Loss"]

print(tabulate(loss_items, headers=headers, tablefmt="grid"))

[['Cheese', 20.0, 17.0, 110, 330.0], ['Juice', 15.0, 13.0, 139, 278.0], ['Beef', 11.0, 6.0, 197, 985.0]]
+--------+--------+-----------------+------------+--------+
| Item   |   Cost |   Selling Price |   Quantity |   Loss |
+========+========+=================+============+========+
| Cheese |     20 |              17 |        110 |    330 |
+--------+--------+-----------------+------------+--------+
| Juice  |     15 |              13 |        139 |    278 |
+--------+--------+-----------------+------------+--------+
| Beef   |     11 |               6 |        197 |    985 |
+--------+--------+-----------------+------------+--------+

Day 4: Monday 8th of September

In [ ]:
lst = ['apple', 'banana', 'cherry']

In [ ]:
if 'cherry' in lst:
  print('Yes, it is present')
  print('The cherry is red')
else:
  print('No, it is not present')

Yes, it is present
The cherry is red

In [ ]:
loss_items = []

In [ ]:
import csv
loss_item = []
with open ('/content/drive/MyDrive/Python/sales_datacl.csv') as f:
  reader = csv. reader(f)
  count = 0
  for row in reader:
    print(row)
    count +=1
    if count == 5 :
     break

    #convert items to number
    for item, c, s, q in reader:
      c, s, q = float(c), float(s), int(q)

      #Calculate Revenueand Cost
    revenue = s * q
    cost = c * q


  #Check for loss items
    if revenue < cost:
     loss_item.append([item, c, s, q, cost - revenue])

['ItemName', 'CostPrice', 'SellingPrice', 'Quantity']

Python Sets
- set is created by using curly brackets

In [ ]:
myset = {'apple', 'orange', 'cherry'}

In [ ]:
len(myset)

3

In [ ]:
print (len(myset))

3

In [ ]:
for item in myset:
  print(item)

cherry
orange
apple

In [ ]:
myset.add('banana')

In [ ]:
myset

{'apple', 'banana', 'cherry', 'orange'}

In [ ]:
myset.add('papaya')

In [ ]:
myset

{'apple', 'banana', 'cherry', 'orange', 'papaya'}

10th of September

In [ ]:
#create Dictionary
dic = {'James':90,
       'Bond' : 87,
       'Alice': 98,
       'Johnson':100
       }

In [ ]:
print(dic)

{'James': 90, 'Bond': 87, 'Alice': 98, 'Johnson': 100}

In [ ]:
dic2 = {'James': [56,67, 90, 100],
        'Bond' : [100, 89, 67, 98],
        'Alice': [150, 23, 45, 52]}

In [ ]:
print(dic2)

{'James': [56, 67, 90, 100], 'Bond': [100, 89, 67, 98], 'Alice': [150, 23, 45, 52]}

In [ ]:
dic3 = {'James' : {'BDA': 45, 'Cyber': 78, 'Maths': 100},
        'Simon': {'BDA': 89, 'Cyber' : 100, 'Maths': 89}}

In [ ]:
print(dic3)

{'James': {'BDA': 45, 'Cyber': 78, 'Maths': 100}, 'Simon': {'BDA': 89, 'Cyber': 100, 'Maths': 89}}

In [ ]:
x= dic3['James']

In [ ]:
print(x)

{'BDA': 45, 'Cyber': 78, 'Maths': 100}

In [ ]:
lst[-1]

100

In [ ]:
print(lst)

[1, 2, 3, 4, 100]

In [ ]:
class_dict = {
    'Alice' : {'age':14, 'grade': 'A'},
    'Bob' : {'age':15, 'grade': 'B'},
    'Charlie' : {'age':16, 'grade': 'C'},
    'David' : {'age':17, 'grade': 'D'},
    'Eve' : {'age':18, 'grade': 'E'}
}

print('Class dictionary created')

Class dictionary created

In [ ]:
#use if statement
age = 14
if age >= 16:
  print('You are eligible to vote')

In [ ]:
#use if statement
age = 14
if age >= 16:
  print('You are eligible to vote')
else:
  print('You are not eligible to vote')

You are not eligible to vote

In [ ]:
num1 = 12
num2 = 12
if num1 == num2:
  print(f'{num1} and {num2} are equal')
else:
  print(f'{num1} and {num2} are not equal')

11th of September W6 Day 3

In [ ]:
age = int(input('How old are you?'))
if age>=18:
  print('You are eligible to vote')
else:
  print('You are not eligible to vote')

KeyboardInterrupt: Interrupted by user

In [ ]:
age = int(input('How old are you?'))
if age>=18:
  print('You are eligible to vote')
else:
  print('You are not eligible to vote')

How old are you?20
You are eligible to vote

In [ ]:
num = [0, 1, 2, 3, 4, 5]
for item in num:
  print(item)

0
1
2
3
4
5

In [ ]:
elst = []
num = [0, 1, 2, 3, 4, 5]
for item in num:
  print(item * 3)
  elst.append(item)

0
3
6
9
12
15

In [ ]:
elst = []
num = [0, 1, 2, 3, 4, 5]
for item in num:
#  print(item * 3)
  elst.append(item * 5)
print (elst)

[0, 5, 10, 15, 20, 25]

In [ ]:
count = 0
score = [45, 67, 38, 90, 55, 42, 78, 33, 85, 60]
for i in score:
    if i> 50:
       count = count + 1
print(count)

6

In [ ]:
countless = 0
count = 0
score = [45, 67, 38, 90, 55, 42, 78, 33, 85, 60]
for i in score:
    if i> 50:
       count = count + 1
    else:
      countless = countless + 1
print(f'These are the score greater than 50 {count}, and these are the score less than 50 {countless}')

These are the score greater than 50 6, ad these are the score less than 50 4

In [ ]:
even_list = []
num = list (range(0, 11))
for i in num:
  if i % 2 == 0:
    even_list.append(i)
print(even_list)

[0, 2, 4, 6, 8, 10]

Friday 12th of September 2025

In [8]:
#create Python Function

def sqr_no():
 num = int(input('Enter a number'))
 ans = num * num #or num **2
 return ans

In [9]:
#to call function
sqr_no()

Enter a number24

576

In [ ]:
# function to take 2 numbers from users
# multiply the 2 numers
# return the answer

In [10]:
def multiply_numbers():
    # Ask user for two numbers
    num1 = float(input('Enter the 1st number: '))
    num2 = float(input('Enter the 2nd number: '))

    # Multiply
    result = num1 * num2

    # Show result
    print(f"The product of {num1} and {num2} is {result}")

# Call the function
multiply_numbers()

Enter the 1st number: 2
Enter the 2nd number: 3
The product of 2.0 and 3.0 is 6.0

In [11]:
def greet(name):
  print("Hello" + name)
  length = len(name)
  print(f"Your name is {length} characters long ",)

greet("Dan")

HelloDan
Your name is 3 characters long

In [17]:
def greet():
  name= input('Enter your name')
  greet = 'Welcome Happy Friday'
  ln = len(name)
  print(f'{greet} ln is {ln}')

In [18]:
num_even =[]
num = [1,2,3,4,5,6,7,8,9,10]
for i in num:
  if i % 2 == 0:
    num_even.append(i)
print(num_even)

[2, 4, 6, 8, 10]

In [19]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
num_even = [i for i in num if i % 2 == 0]
print(num_even)

[2, 4, 6, 8, 10]

In [20]:
num2 = list(range(0, 21))
print(num2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [21]:
num2 = list(range(0, 21))
num_odd = [i for i in num2 if i % 2 != 0]
print(num_odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [22]:
num4 = list(range(0, 21))
num_even = [i + 7 for i in num4 if i % 2 == 1]
print(num_even)

[8, 10, 12, 14, 16, 18, 20, 22, 24, 26]

In [23]:
num4 = list(range(1,9))
oddsqr = [i*i for i in num4 if i % 2 == 1]
print (oddsqr)

[1, 9, 25, 49]

In [25]:
list_d = [44, 55, 65, 80]
num2= [i for i in list_d if i % 5 == 0]
print(num2)

[55, 65, 80]

In [26]:
#create Lambda
x= lambda a: a + 10

In [28]:
print(x(5))

15

In [30]:
y = lambda b, c: b * c

In [31]:
print(y(2, 4))

8

In [ ]:
def mult_2()